body {
  font-family: Arial, sans-serif;
}

.centered-text {
  text-align: center;
}


.charts-container {
  display: flex;
  justify-content: center;

}

.chart-item {
  flex: 1; 
  margin-right: 10px;
  height: 346px; 
}

.chart-item:last-child {
  margin-right: 0; 
}

canvas {
  width: 100%; 
  height: auto; 
}


.BodyChart-container {
  width: 800px;
  height: 400px;
  display: flex;
  margin-left: 23%;
}



.PB-range-slider-div {
  display: flex;
  align-items: center;
}

.PB-range-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.PB-range-slider-input {
  width: 100px;
}


.PB-range-slidervalue {
  margin-left: 10px;
}

#sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#slider {
  width: 50%;
  height: 30px;
  transform: translate(-50%, 0);
}